.landing {
    height: 100vh;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}

button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #2c3e50;
    color: white;
    cursor: pointer;
}
